<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MCA Faculty</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Head of Department</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <img class="hod" src="http://mca.spit.ac.in/images/faculty/pjmam1.jpg" alt="Profile picture"><br>
        <a class="button" href="http://mca.spit.ac.in/id1.php"> Dr. Pooja Raundale</a><br>
        <strong>Research Interests :</strong>
        "C programming, Artificial Intelligence, Computer Graphics, Object Oriented Programming in
        C++, Data Structures"<br>
        <strong>Phone : </strong>
        "022-26708520, 022-26706640 extn.396"<br>
        <strong>Email : </strong>
        "pooja@spit.ac.in"<br>
      </div>
    </ion-accordion>





    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>Professors</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>

          <ion-card>
            <img src="http://harshilkanakia.com/images/harshil.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Assistant Professor</ion-card-subtitle>
              <ion-card-title><a href="http://harshilkanakia.com/">Prof. Harshil Kanakia</a> </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Research Interests :</strong>
              "Software Engineering, Advanced Microprocessor, Data Structures, Database Management Systems"<br>
              <strong>Phone : </strong>
              "022-26708520, 022-26706640 extn.397"<br>
              <strong>Email : </strong>
              "harshil_kanakia@spit.ac.in"<br>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <img src="http://mca.spit.ac.in/images/faculty/aarti.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Assistant Professor</ion-card-subtitle>
              <ion-card-title><a href="https://www.linkedin.com/in/aartimkarande/">Dr. Aarti Karande</a> </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Research Interests :</strong>
              "Object Oriented Programming, Service Oriented Architecture, Soft Computing Data Mining, Software Engineering"<br>
              <strong>Phone : </strong>
              "022-26708520, 022-26706640 extn.397"<br>
              <strong>Email : </strong>
              "aartimkarande@spit.ac.in"<br>
            </ion-card-content>
          </ion-card>


          <ion-card>
            <img src="http://mca.spit.ac.in/images/faculty/nikitam.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Assistant Professor</ion-card-subtitle>
              <ion-card-title><a href="https://www.linkedin.com/in/nikhita-mangaonkar-5268b4191/">Prof.Nikhita Mangaonkar</a> </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Research Interests :</strong>
              "Green computing, Natural Language Processing ,Computer networking"<br>
              <strong>Phone : </strong>
              "022-26708520, 022-26706640 extn.399"<br>
              <strong>Email : </strong>
              " nikhita.mangaonkar@spit.ac.in"<br>
            </ion-card-content>
          </ion-card>

          

          <ion-card>
            <img src="https://lh3.googleusercontent.com/a-/ACNPEu-1e-_l9yRC18ka3_82Ix0ktsihKC7ZHqH1SbWF5Q=s272-p-k-rw-no" />
            <ion-card-header>
              <ion-card-subtitle>Assistant Professor</ion-card-subtitle>
              <ion-card-title><a href="">Prof. Sakina Shaikh</a> </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Research Interests :</strong>
              " Network security and Cryptography, Cyber law ,Computer graphics, Image processing"<br>
              <strong>Phone : </strong>
              "022-26708520, 022-26706640 extn.397"<br>
              <strong>Email : </strong>
              "sakina_shaikh@spit.ac.in"<br>
            </ion-card-content>
          </ion-card>

          

          <ion-card>
            <img src="https://lh3.googleusercontent.com/a-/ACNPEu_EWrt8Nd2uYHRRnnO3I1kBxc31XasYjwsCIefp1A=s272-p-k-rw-no" alt="No Profile Pic"/>
            <ion-card-header>
              <ion-card-subtitle>Assistant Professor</ion-card-subtitle>
              <ion-card-title><a href="https://in.linkedin.com/in/pallavi-thakur-8a7a271ba">Prof. PALLAVI D. THAKUR</a> </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Research Interests :</strong>
              "Data Analytics, Operating System, Python Programming, Computer Networks, Structured Programming Approach, Computer Graphics and Virtual Reality, Open Source Technology,Object Oriented Analysis & Design"<br>
              <strong>Phone : </strong>
              " 022-26708520, 022-26706640 extn.399"<br>
              <strong>Email : </strong>
              " pallavi.thakur@spit.ac.in"<br>
            </ion-card-content>
          </ion-card>


        </div>
      </div>
    </ion-accordion>




    <ion-accordion value="third">
      <ion-item slot="header">
        <ion-label>Adjunct Faculty</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
      
        <ion-card>
          <img src="http://mca.spit.ac.in/images/faculty/sampats.jpeg" />
          <ion-card-header>
            <ion-card-subtitle>Professor</ion-card-subtitle>
            <ion-card-title><a href="https://www.linkedin.com/in/nikhita-mangaonkar-5268b4191/">Prof.Sampat Vaidya</a> </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong>Research Interests :</strong>
            " Engineering Mathematics, Numerical Analysis, Operation Research, Computer Programming, Mathematical Methods, Discrete Mathematics, Probability and Combinatorics, Probability and Statistics, Operation Research, System Modeling &Simulation, Computer Simulation & Modeling, Quatitative Techniques, Business Statistics, Quatitative Methods"<br>
            <strong>Phone : </strong>
            "M) 9820031384, 9819369868"<br>
            <strong>Email : </strong>
            " vaidya.sampat@gmail.com"<br>
          </ion-card-content>
        </ion-card>


      </div>
    </ion-accordion>


    
    <ion-accordion value="Forth">
      <ion-item slot="header">
        <ion-label>Supporting Staff</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <ion-card>
          <img src="http://mca.spit.ac.in/images/faculty/krum.png" />
          <ion-card-header>
            <ion-card-subtitle>Lan Administrator</ion-card-subtitle>
            <ion-card-title>Karuna Bhikru </ion-card-title>
            <strong>Research Interests :</strong>"--"<br>
            <strong>Phone : </strong>"022-26708520, 022-26706640 extn.398"<br>


          </ion-card-header>
        </ion-card>

        <ion-card>
          <img src="" alt="No Profile Pic">
          <ion-card-header>
            <ion-card-subtitle>Peon</ion-card-subtitle>
            <ion-card-title>Deepak Sawant</ion-card-title>
          </ion-card-header>
        </ion-card>
        
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <!-- <ion-slides [options]="sliderOpt" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/images/mca Department.jpg"  >
      </div>
    </ion-slide>
  </ion-slides> -->

  <ion-card>
    <div class="zoom">
      <img src="../../assets/images/mca Department.jpg" height="300px" width="400px"
      alt="Staff">
    </div>
    <ion-card-subtitle class="Welcome">
      Welcome MCA Department of Sardar Patel Institute of Technology
    </ion-card-subtitle>
    </ion-card>

    

</ion-content>