
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    
  <ion-item>
    <ion-label>Events Held In Year  2020-21</ion-label>
    <ion-button slot="end" href="http://mca.spit.ac.in/events2020_21.php"  shape="round" fill="outline">
      Open
    </ion-button>
  </ion-item>
  
  <ion-item>
    <ion-label>Events Held In Year 2019-20</ion-label>
    <ion-button slot="end" href="http://mca.spit.ac.in/events2019_20.php"  shape="round" fill="outline">
      Open
    </ion-button>
  </ion-item>
  
  <ion-item>
    <ion-label>Events Held In Year 2017-18</ion-label>
    <ion-button slot="end" href="http://mca.spit.ac.in/events2017_18.php"  shape="round" fill="outline">
      Open
    </ion-button>
  </ion-item>
  

  <ion-item>
    <ion-label>Events Held In Year 2016-17</ion-label>
    <ion-button slot="end" href="http://mca.spit.ac.in/events2016_17.php"  shape="round" fill="outline">
      Open
    </ion-button>
  </ion-item>


  <ion-item>
    <ion-label>Events Held In Year 2015-16</ion-label>
    <ion-button slot="end" href="http://mca.spit.ac.in/events2015_16.php"  shape="round" fill="outline">
      Open
    </ion-button>
  </ion-item>


  <ion-item>
    <ion-label>Events Held In Year 2013-14</ion-label>
    <ion-button slot="end" href="http://mca.spit.ac.in/events2013_14.php"  shape="round" fill="outline">
      Open
    </ion-button>
  </ion-item>


  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Photo Gallery</ion-card-title>
        <ion-card-subtitle>2018-2019(Events)</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> 
        <ion-grid >
          <ion-row>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/miss_fresher.jpg" alt="">
            </ion-col>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/freshers_dance.jpg" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/miss_fresher1.jpg" alt="">
            </ion-col>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/freshers_dance1.jpg" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>2018-2019(Tie Day- Saree Day)</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> 
        <ion-grid >
          <ion-row>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/tie_day.jpg" alt="">
            </ion-col>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/saree_day.jpg" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/tie-saree_day2.jpg" alt="">
            </ion-col>
            <ion-col size="6" class="zoom">
              <img src="http://mca.spit.ac.in/images/gallery/tie-saree_day3.jpg" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>

  

</ion-content>
